<!-- <body>
<img src="/assets/photo/Nepal-Mountain.jpg" class="img-thumbnail" alt="Nepal-Mountain" width="100%">
</body> -->
<div class="container mt-5">
    <div style="text-align: center">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mr-2" routerLink="/register">Register</button>
            <button class="btn btn-info btn-lg" routerLink="/mynews">Learn more</button>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">

            </div>
        </div>
    </div>
</div>




<body>


    <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" routerLink="/register">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/photo/mk.jpg" style="height: 200px;" alt="First Slide">
                    <br />
                    <h3 style="text-emphasis-color:white" routerLink="/register">Make a fun with friends.</h3>
                    <p>Make a every moment special with new friensds..</p>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/photo/33 (2).jpg" style="height: 200px;" alt="Second Slide">
                    <h3 style="text-emphasis-color:white" routerLink="/register">Make a fun with friends.</h3>
                    <p> See who can be your friends......</p>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/photo/37.jpg" style="height: 200px;" alt="Third Slide">
                    <h3 style="text-emphasis-color:white" routerLink="/register">Lets Connected ....</h3>
                    <p>You are alone ......</p>
                </div>

                <div class="carousel-item">
                    <img src="../../../assets/photo/7.jpg" style="height: 200px;" alt="Third Slide">
                    <h3 style="text-emphasis-color:white" routerLink="/register">Lets Start..</h3>
                    <p>Make a more friends....</p>
                </div>

                <div class="carousel-item">
                    <img src="../../../assets/photo/9.png" style="height: 200px;" alt="Third Slide">
                    <h3 style="text-emphasis-color:white">Make a every moment special with new friensds..</h3>
                    <p> See who can be your friends......</p>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div>


    </div>
</body>
